{% set options = {
	id: "best_roi_overview",
	article_classes: "",
	ribbonless: true
} %}

{% extends "./njk/base.njk" %}
{# import header partial and add to header_block #}
{% import "./njk/_partials/header-border.njk" as header %}
{% block header_block %}
	<header>
		<h1 class="title--one" data-companywide-editable="editable-best_roi_overview-4zkfcVcZP2">We continue to deliver you the best return on your investment</h1>
	</header>
{% endblock %}

{% block content %}

	<section class="subslide-container">
		<div id="subslide-1" class="page01 subslide content active">
			<div class="pillars">
				<div class="pillars--container">
					<div class="pillar--heading purple" data-companywide-editable="editable-best_roi_overview-9qoOABOYca">
						<div>
							<div class="icon house"></div>
							<div>
								<h2>Property Advertising</h2>
								<p>Get a better result</p>
							</div>
						</div>
					</div>
					<div class="pillar--child" data-subslide="2">
						<div class="pillar--child-tag">New</div>
						<div data-companywide-editable="editable-best_roi_overview-PmPlRLcEaw">Lower Valued Asset Flex</div>
						<div class="arrow-subslide purple" data-subslide="2">read more</div>
					</div>
					<div class="pillar--child" data-subslide="3">
						<div data-companywide-editable="editable-best_roi_overview-0gKzw0MwVB">Campaign Flex</div>
						<div class="arrow-subslide purple" data-subslide="3">read more</div>
					</div>
					<div class="pillar--child" data-subslide="4">
						<div data-companywide-editable="editable-best_roi_overview-GQfyEeIoZs">World class experiences</div>
						<div class="arrow-subslide purple" data-subslide="4">read more</div>
					</div>
				</div>
				<div class="pillars--container">
					<div class="pillar--heading blue" data-companywide-editable="editable-best_roi_overview-6vXMeFgPEw">
						<div>
							<div class="icon people"></div>
							<div>
								<h2>Agency Marketplace</h2>
								<p>The place to win new business</p>
							</div>
						</div>
					</div>
					<div class="pillar--child" data-subslide="5" >
						<div class="pillar--child-tag">New</div>
						<div data-companywide-editable="editable-best_roi_overview-K6SR5gne84">Ratings &amp; Reviews API </div>
						<div class="arrow-subslide blue" data-subslide="5">read more</div>
					</div>
					<div class="pillar--child" data-subslide="6" >
						<div data-companywide-editable="editable-best_roi_overview-V4BlQ61GhO">Seller Leads in Ignite</div>
						<div class="arrow-subslide blue" data-subslide="6">read more</div>
					</div>
					<div class="pillar--child" data-subslide="7" >
						<div data-companywide-editable="editable-best_roi_overview-zeS5F7Jd2i">Seller Leads Reporting</div>
						<div class="arrow-subslide blue" data-subslide="7">read more</div>
					</div>
				</div>
				<div class="pillars--container">
					<div class="pillar--heading green" data-companywide-editable="editable-best_roi_overview-7p9ddHPXdu">
						<div>
							<div class="icon service"></div>
							<div>
								<h2>Agency Services</h2>
								<p>Digitise your day-to-day</p>
							</div>
						</div>
					</div>
					<div class="pillar--child" data-subslide="8" >
						<div class="pillar--child-tag">New</div>
						<div data-companywide-editable="editable-best_roi_overview-KltAfDUa4S">Inspections in Ignite</div>
						<div class="arrow-subslide green" data-subslide="8">read more</div>
					</div>
					<div class="pillar--child" data-subslide="9" >
						<div data-companywide-editable="editable-best_roi_overview-86fmYrlIPX">Rental Applications in Ignite</div>
						<div class="arrow-subslide green" data-subslide="9">read more</div>
					</div>
					<div class="pillar--child" data-subslide="10" >
						<div data-companywide-editable="editable-best_roi_overview-S1SwMM44di">CampaignAgent acquisition</div>
						<div class="arrow-subslide green" data-subslide="10">read more</div>
					</div>
				</div>
			</div>
			<div class="pillars--container pillars--container-grey">
				<div class="pillar--child" data-subslide="11" >
					<div class="pillars-logo-ignite"></div>
					<div class="arrow-subslide grey" data-subslide="11">read more</div>
				</div>
			</div>
		</div>

		<div id="subslide-2" class="page02 subslide content content__subslide-modal content__subslide-modal--new">
			<div class="close-subslide" data-companywide-editable="editable-best_roi_overview-6dMadpbJPu"></div>
			<div class="subslide-modal__content purple">
				<div>
					<div class="subslide-modal__content--category" data-companywide-editable="editable-best_roi_overview-BQ01w55uQ3">Property Advertising</div>
					<div class="subslide-modal__content--title" data-companywide-editable="editable-best_roi_overview-rc9zL2YX7H">
						<div class="pillar--child-tag">New</div>
						Lower Valued Asset Flex
					</div>
					<p data-companywide-editable="editable-best_roi_overview-4SbJiDmTM3">Premiere+ customers can now access even more flexibility with unlimited downgrades and Premiere Pay on Sale<sup>1</sup> for lower priced properties, without using Campaign Flex points.</p>
				</div>
				<div class="subslide__img subslide-2__img"></div>
			</div>
			<section class="disclaimer" data-companywide-editable="editable-best_roi_overview-mnqqwerft5">
				<div class="disclaimer-container">
					<p class="disclaimer-link">Source</p>
					<div class="disclaimer-body">
						<ol>
							<li class="disclaimer-copy">Unlimited downgrades and Pay on Sale are subject to the listing price falling below the LVA Threshold stipulated at prices.realestate.com.au. T&Cs Apply. Downgrades apply to Feature or Highlight only.</li>
						</ol>
					</div>
				</div>
			</section> 
		</div>

		<div id="subslide-3" class="page03 subslide content content__subslide-modal content__subslide-modal--new">
			<div class="close-subslide" data-companywide-editable="editable-best_roi_overview-Hg71FewIZy"></div>
			<div class="subslide-modal__content purple">
				<div>
					<div class="subslide-modal__content--category" data-companywide-editable="editable-best_roi_overview-BgFofxLVDL">Property Advertising</div>
					<div class="subslide-modal__content--title" data-companywide-editable="editable-best_roi_overview-Hqq0zWEj4r">Campaign Flex</div>
					<p data-companywide-editable="editable-best_roi_overview-rvJGMJ9Yf8">Premiere+ and Premiere All customers continue to have the ability to downgrade 1 in every 5 listings<sup>1</sup> and can take advantage of our Premiere Pay on Sale<sup>2</sup> option by using their Campaign Flex points. </p>
				</div>
				<div class="subslide__img subslide-3__img"></div>
			</div>
			<section class="disclaimer" data-companywide-editable="editable-best_roi_overview-kioiee4r56">
				<div class="disclaimer-container">
					<p class="disclaimer-link">Source</p>
					<div class="disclaimer-body">
						<ol>
							<li>Campaign Flex calculation is based on the number of listings that you uploaded to realestate.com.au in the prior six-month period. You cannot access Campaign Flex in the first 6 months of your agreement term.</li>
							<li>Pay on Sale available at additional cost.</li>
						</ol>
					</div>
				</div>
			</section> 
		</div>

		<div id="subslide-4" class="page04 subslide content content__subslide-modal content__subslide-modal--new">
			<div class="close-subslide" data-companywide-editable="editable-best_roi_overview-6odpiy0OVm"></div>
			<div class="subslide-modal__content purple">
				<div>
					<div class="subslide-modal__content--category" data-companywide-editable="editable-best_roi_overview-8Rwoqzw2JO">Property Advertising</div>
					<div class="subslide-modal__content--title" data-companywide-editable="editable-best_roi_overview-VAXLVBZrjn">Creating a world-class<br />property experience</div>
					<p data-companywide-editable="editable-best_roi_overview-ftN0UMBRal">Our hyper-personalised experiences help property seekers connect with your brand and listings, in the right way, at the right time, for maximum impact.</p>
					<p data-companywide-editable="editable-best_roi_overview-rftgyhe45t">We’re always looking for new ways to innovate and further enhance these experiences, making it easier for you and your agency to find more qualified leads, faster.</p>
				</div>
				<div class="subslide__img subslide-4__img"></div>
			</div>
		</div>

		<div id="subslide-5" class="page05 subslide content content__subslide-modal content__subslide-modal--new">
			<div class="close-subslide" data-companywide-editable="editable-best_roi_overview-GPTdil0HF3"></div>
			<div class="subslide-modal__content blue">
				<div>
					<div class="subslide-modal__content--category" data-companywide-editable="editable-best_roi_overview-4MKraEwQIg">Agency Marketplace</div>
					<div class="subslide-modal__content--title" data-companywide-editable="editable-best_roi_overview-d89zXctctz">
					<div class="pillar--child-tag">New</div>	
						Ratings & Reviews API
					</div>
					<p data-companywide-editable="editable-best_roi_overview-Ig3PYvdVry">Agent Ratings & Reviews are an effective way to build your reputation and trust with sellers with 76% of prospective sellers indicating they use online ratings and reviews to help find an agent.<sup>1</sup></p>
					<p data-companywide-editable="editable-best_roi_overview-vfgbhnjui8">Our new Ratings & Reviews API allows you to publish your realestate.com.au reviews to your website.</p>
				</div>
				<div class="subslide__img subslide-5__img"></div>
				<a class="cta" href="https://customer.realestate.com.au/residential/agent-ratings-and-reviews/" target="_blank">Visit the Customer Marketing Centre</a>
			</div>
			<section class="disclaimer" data-companywide-editable="editable-best_roi_overview-rr554433rr">
				<div class="disclaimer-container">
					<p class="disclaimer-link">Source</p>
					<div class="disclaimer-body">
						<ol>
							<li class="disclaimer-copy">How Sellers Choose an Agent Research 2023, prospective sellers are those sellers who use online sources</li>
						</ol>
					</div>
				</div>
			</section> 
		</div>

		<div id="subslide-6" class="page06 subslide content content__subslide-modal content__subslide-modal--new">
			<div class="close-subslide" data-companywide-editable="editable-best_roi_overview-OhuXK5faVC"></div>
			<div class="subslide-modal__content blue">
				<div>
					<div class="subslide-modal__content--category" data-companywide-editable="editable-best_roi_overview-MWNul6WOnK">Agency Marketplace</div>
					<div class="subslide-modal__content--title" data-companywide-editable="editable-best_roi_overview-6aOkTKuaK2">Seller Leads in Ignite</div>
					<p data-companywide-editable="editable-best_roi_overview-F4TRn6medW">Did you know 38% of Seller Leads from realestate.com.au convert to a listing?<sup>1</sup></p>
					<p data-companywide-editable="editable-best_roi_overview-fdedrftg6y">Win your next listing by connecting with high intent sellers with contact details delivered directly to your inbox in Ignite or your CRM.</p>
					<p data-companywide-editable="editable-best_roi_overview-mbhnjmki89">Now with additional property information exclusive to Ignite and the ability to allocate and share leads within your team coming soon.</p>
				</div>
				<div class="subslide__img subslide-6__img"></div>
				<a class="cta" href="https://customer.realestate.com.au/residential/seller-leads/" target="_blank">Visit the Customer Marketing Centre</a>
			</div>
			<section class="disclaimer" data-companywide-editable="editable-best_roi_overview-kkkkjjeer5Y">
				<div class="disclaimer-container">
					<p class="disclaimer-link">Source</p>
					<div class="disclaimer-body">
						<ol>
							<li class="disclaimer-copy">REA Internal Data, July 22 - Jun 2023 (leads converted to a listing within 12 months)</li>
						</ol>
					</div>
				</div>
			</section> 
		</div>

		<div id="subslide-7" class="page07 subslide content content__subslide-modal content__subslide-modal--new">
			<div class="close-subslide" data-companywide-editable="editable-best_roi_overview-HMK4EnSi3q"></div>
			<div class="subslide-modal__content blue">
				<div>
					<div class="subslide-modal__content--category" data-companywide-editable="editable-best_roi_overview-SsndLD43yg">Agency Marketplace</div>
					<div class="subslide-modal__content--title" data-companywide-editable="editable-best_roi_overview-ZBOYUpFMnc">Seller Leads Reporting in Ignite</div>
					<p data-companywide-editable="editable-best_roi_overview-dIn2fLIqyW">We know that leads are the lifeblood of your business and understanding conversion is the key to success.</p>
					<p data-companywide-editable="editable-best_roi_overview-sxdcfvgt66">This is why we have built Seller Leads Reporting into Ignite to allow you to track and improve lead performance in your Agency.</p>
					<p data-companywide-editable="editable-best_roi_overview-mnmnhhju77">Available now with the Agency Insights permission in Ignite.</p>
				</div>
				<div class="subslide__img subslide-7__img"></div>
				<a class="cta" href="https://customer.realestate.com.au/residential/seller-leads-reporting/" target="_blank">Visit the Customer Marketing Centre</a>
			</div>
		</div>

		<div id="subslide-8" class="page08 subslide content content__subslide-modal content__subslide-modal--new">
			<div class="close-subslide" data-companywide-editable="editable-best_roi_overview-VCdcUi6gBF"></div>
			<div class="subslide-modal__content green">
				<div>
					<div class="subslide-modal__content--category" data-companywide-editable="editable-best_roi_overview-7z7CZa72KX">Agency Services</div>
					<div class="subslide-modal__content--title" data-companywide-editable="editable-best_roi_overview-WdXueaO1hi">
						<div class="pillar--child-tag">New</div>
						Inspections in Ignite
					</div>
					<p data-companywide-editable="editable-best_roi_overview-UlLcOYxIf7">We’ve made it even easier for you to manage your upcoming inspections. Prepare, plan ahead of time and centralise your workflow, with the ability to view registration data and check-in inspection attendees, all in one place. </p>
				</div>
				<div class="subslide__img subslide-8__img"></div>
				<a class="cta" href="https://customer.realestate.com.au/inspections-in-ignite/" target="_blank">Visit the Customer Marketing Centre</a>
			</div>
		</div>

		<div id="subslide-9" class="page09 subslide content content__subslide-modal content__subslide-modal--new">
			<div class="close-subslide" data-companywide-editable="editable-best_roi_overview-a6OCNT9XR2"></div>
			<div class="subslide-modal__content green">
				<div>
					<div class="subslide-modal__content--category" data-companywide-editable="editable-best_roi_overview-1GA1dciJza">Agency Services</div>
					<div class="subslide-modal__content--title" data-companywide-editable="editable-best_roi_overview-56UnQJD5wF">Rental Applications in Ignite</div>
					<p data-companywide-editable="editable-best_roi_overview-vRtmEEvpqN">With a user-friendly design, increased security, and a faster application experience, Rental Applications in Ignite will help streamline your workflow, to find the best tenant faster.</p>
					<p data-companywide-editable="editable-best_roi_overview-fdgtyhuj77">Filter, apply a status and shortlist the best tenants with ease, accessing actionable insights on both your agency performance and rental listings.</p>
				</div>
				<div class="subslide__img subslide-9__img"></div>
				<a class="cta" href="https://customer.realestate.com.au/residential/rental-applications-in-ignite/" target="_blank">Visit the Customer Marketing Centre</a>
			</div>
		</div>

		<div id="subslide-10" class="page10 subslide content content__subslide-modal content__subslide-modal--new">
			<div class="close-subslide" data-companywide-editable="editable-best_roi_overview-WQhqizxsus"></div>
			<div class="subslide-modal__content green">
				<div>
					<div class="subslide-modal__content--category" data-companywide-editable="editable-best_roi_overview-ThJm4SzFoK">Agency Services</div>
					<div class="subslide-modal__content--title" data-companywide-editable="editable-best_roi_overview-uJQ0ypUQfb">CampaignAgent acquisition</div>
					<p data-companywide-editable="editable-best_roi_overview-qgZCpwKCPF">Our move to 100% ownership of CampaignAgent further assists you and your prospective vendors to seamlessly do business by removing friction from the property selling process.</p>
					<p data-companywide-editable="editable-best_roi_overview-vfgbeewd45">VPAPay by CampaignAgent helps secure vendor paid advertising with ease, providing choice and flexibility to vendors with options to Pay Now or Pay Later.</p>
				</div>
				<div class="subslide__img subslide-10__img"></div>
				<a class="cta" href="https://customer.realestate.com.au/residential/vpapay-by-campaignagent/" target="_blank">Visit the Customer Marketing Centre</a>
			</div>
		</div>

		<div id="subslide-11" class="page11 subslide content content__subslide-modal content__subslide-modal--new">
			<div class="close-subslide" data-companywide-editable="editable-best_roi_overview-jhyuitrf5t"></div>
			<div class="subslide-modal__content grey">
				<div>
					<div class="subslide-modal__content--category" data-companywide-editable="editable-best_roi_overview-mmjmkioi9i"></div>
					<div class="subslide-modal__content--title" data-companywide-editable="editable-best_roi_overview-kkkkiiop09"></div>
					<div class="pillars-logo-ignite"></div>
					<p data-companywide-editable="editable-best_roi_overview-mmnhde3455">Power your business with Ignite with a range of powerful insights at your fingertips and digital tools to help you work smarter, while getting greater visibility on your performance with new reporting functionality.</p>
				</div>
				<div class="subslide-img-11">
					<div class="subslide__img subslide-11-1__img"></div>
					<div class="subslide__img subslide-11-2__img"></div>
				</div>
				<a class="cta" href="https://customer.realestate.com.au/residential/ignite/" target="_blank">Visit the Customer Marketing Centre</a>
			</div>
		</div>


		<div class="content__subslide-modal--navigation">
			<div class="prev" data-prev></div>
			<div class="next" data-next></div>
		</div>

	</section>

	<footer class="slide-footer">
		
		<div class="disclaimer-target"></div>
		<div class="logo-ignite"></div>
		<div class="logo-camppaign-agent"></div>
		<div class="logo"></div>
	</footer>

{% endblock %}

{% block js_rendered %}
	attachSlideEvents(["disclaimer"]);
    var moreValue = new subslideModalReturnOnYourInvestment({slide: $pageContainer, sectionTwo: 12});
{% endblock %}