<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ options.title }}</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="js/docs.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
</head>
<body id="slideshow">
	<div class="doc-content">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
