{#
	Leaderboard
#}
{% macro leaderboard(options) %}
	<div class="top-rent-image rent-image-background brand-bg {{ options.classes }}">
		<div class="top-rent-image__logo rent-image-logo brand-logo"></div>
		<div class="open-sign"></div>
		<div class="contact"></div>
	</div>
{% endmacro %}



{#
	Half Page
#}
{% macro halfpage(options) %}
	<div class="side-rent-image rent-image-background brand-bg {{ options.classes }}">
		<div class="side-rent-image__logo rent-image-logo brand-logo"></div>
		<div class="open-sign"></div>
		<div class="contact"></div>
	</div>
{% endmacro %}
