{% macro omniture_adobe_internal_rea(options) %}
This information is produced for Customer’s internal office use only. It may not be reproduced or communicated externally for any purpose, whether in whole or in part, and neither the information, nor any data or conclusions derived from it, may be attributed to realestate.com.au under any circumstances
{% endmacro %}
