	<div class="product-container display feature-agent">
		<div class="product">
			<div class="agent-colour header premiere-header">
				<div class="agent-logo"></div>
			</div>
			<div class="agent-colour header highlight-header">
				<div class="agent-logo"></div>
			</div>
			<div class="agent-colour header feature-header">
				<div class="agent-logo"></div>
			</div>
			<div class="exclusive-showcase">
				<div class="agent-colour header top-header">
					<p class="agent-text">EXCLUSIVE SHOWCASE</p>
					<div class="agent-logo"></div>
				</div>
				<div class="agent-colour header bottom-header">
					<div class="agent-logo"></div>
				</div>
			</div>

		</div>

		<div class="labels">
			<!-- LHS labels -->
			<div class="connector-line-label label-1 left-align sold-label">
				<div class="connector-line-container right">
					<div class="connector-line animator"></div>
				</div>
				<h6>Sold prices</h6>
			</div>

			<div class="connector-line-label label-2 left-align premiere-label jump-to">
				<div class="connector-line-container right">
					<div class="connector-line animator"></div>
				</div>
				<h6>Premiere Property</h6>
			</div>

			<div class="connector-line-label label-4 left-align highlight-label jump-to">
				<div class="connector-line-container right">
					<div class="connector-line animator"></div>
				</div>
				<h6>Highlight Property</h6>
			</div>

			<div class="connector-line-label label-5 left-align feature-label jump-to">
				<div class="connector-line-container right">
					<div class="connector-line animator"></div>
				</div>
				<h6>Feature Property</h6>
			</div>

			<!-- RHS labels -->
			<div class="connector-line-label label-2 right-align lead-gen-label jump-to">
				<div class="connector-line-container left">
					<div class="connector-line animator"></div>
				</div>
				<h6>Lead Generator</h6>
			</div>

			<div class="connector-line-label label-3 right-align exclusive-label jump-to">
				<div class="connector-line-container left">
					<div class="connector-line animator"></div>
				</div>
				<h6>Exclusive Showcase</h6>
			</div>
		</div>
	</div>
