{% macro subscription_table(options) %}
	<div class="subscription">
		<div class="subscription__heading--items">Items</div>
		<div class="subscription__heading--discussion">Discussion Required</div>
		<div class="subscription__heading--achieved">Achieved</div>


		<div class="subscription__item">
			<div class="subscription__item--text">
				Agency Profiles
			</div>
		</div>
		<div class="checkbox_row" data-value="-1" data-index="0">
			<div class="subscription__image">
				<div class="subscription__box discussion" data-value="0">

				</div>
			</div>
			<div class="subscription__image">
				<div class="subscription__box achieved" data-value="1">

				</div>
			</div>
		</div>


		<div class="subscription__item">
			<div class="subscription__item--text">
				Agency Branding
			</div>
		</div>
		<div class="checkbox_row" data-value="-1" data-index="1">
			<div class="subscription__image">
				<div class="subscription__box discussion" data-value="0">

				</div>
			</div>
			<div class="subscription__image">
				<div class="subscription__box achieved" data-value="1">

				</div>
			</div>
		</div>


		<div class="subscription__item">
			<div class="subscription__item--text">
				Agent Admin
			</div>
		</div>
		<div class="checkbox_row" data-value="-1" data-index="2">
			<div class="subscription__image">
				<div class="subscription__box discussion" data-value="0">

				</div>
			</div>
			<div class="subscription__image">
				<div class="subscription__box achieved" data-value="1">

				</div>
			</div>
		</div>


		<div class="subscription__item">
			<div class="subscription__item--text">
				Agent Marketing Centre
			</div>
		</div>
		<div class="checkbox_row" data-value="-1" data-index="3">
			<div class="subscription__image">
				<div class="subscription__box discussion" data-value="0">

				</div>
			</div>
			<div class="subscription__image">
				<div class="subscription__box achieved" data-value="1">

				</div>
			</div>
		</div>


		<div class="subscription__item">
			<div class="subscription__item--text">
				Advantage
			</div>
		</div>
		<div class="checkbox_row" data-value="-1" data-index="4"> 
			<div class="subscription__image">
				<div class="subscription__box discussion" data-value="0">

				</div>
			</div>
			<div class="subscription__image">
				<div class="subscription__box achieved" data-value="1">

				</div>
			</div>
		</div>


		<div class="subscription__item">
			<div class="subscription__item--text">
				Our Site
			</div>
		</div>
		<div class="checkbox_row" data-value="-1" data-index="5">
			<div class="subscription__image">
				<div class="subscription__box discussion" data-value="0">

				</div>
			</div>
			<div class="subscription__image">
				<div class="subscription__box achieved" data-value="1">

				</div>
			</div>
		</div>


		<div class="subscription__item">
			<div class="subscription__item--text">
				Advertising Mix
			</div>
		</div>
		<div class="checkbox_row" data-value="-1" data-index="6">
			<div class="subscription__image">
				<div class="subscription__box discussion" data-value="0">

				</div>
			</div>
			<div class="subscription__image">
				<div class="subscription__box achieved" data-value="1">

				</div>
			</div>
		</div>


		<div class="subscription__item">
			<div class="subscription__item--text">
				Training
			</div>
		</div>
		<div class="checkbox_row" data-value="-1" data-index="7">
			<div class="subscription__image">
				<div class="subscription__box discussion" data-value="0">

				</div>
			</div>
			<div class="subscription__image">
				<div class="subscription__box achieved" data-value="1">

				</div>
			</div>
		</div>

		<div class="subscription__item">
			<div class="subscription__item--text">
				Connections, 1form, InspectRealEstate
			</div>
		</div>
		<div class="checkbox_row" data-value="-1" data-index="8">
			<div class="subscription__image">
				<div class="subscription__box discussion" data-value="0">

				</div>
			</div>
			<div class="subscription__image">
				<div class="subscription__box achieved" data-value="1">

				</div>
			</div>
		</div>
	</div>
{% endmacro %}
