{% macro apr() %}
<div class="dashed-border-init">
    <month>April</month>
</div>
{% endmacro %}

{% macro may() %}
<div class="dashed-border">
    <month>May</month>
</div>
{% endmacro %}

{% macro june() %}
<div class="dashed-border">
    <month>June</month>
</div>
{% endmacro %}

{% macro july() %}
<div class="dashed-border">
    <month>July</month>
</div>
{% endmacro %}

{% macro aug() %}
<div class="dashed-border">
    <month>August</month>
</div>
{% endmacro %}

{% macro sep() %}
<div class="dashed-border">
    <month>September</month>
</div>
{% endmacro %}

{% macro oct() %}
<div class="dashed-border">
    <month>October</month>
</div>
{% endmacro %}

{% macro nov() %}
<div class="dashed-border">
    <month>November</month>
</div>
{% endmacro %}

{% macro dec() %}
<div class="dashed-border">
    <month>December</month>
</div>
{% endmacro %}

{% macro jan() %}
<div class="dashed-border">
    <month>January</month>
</div>
{% endmacro %}

{% macro feb() %}
<div class="dashed-border">
    <month>February</month>
</div>
{% endmacro %}