
@import '../../../src/css/includes/variables';
@import '../../../src/css/includes/mixins';


#slideshow {
	article.template-feature-columns {
    .slide-header-center {
      z-index: 0;
    }
    .overlay {
      
      &.active {
        z-index: 3;
        &:before {
          content: '';
          z-index: 3;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    position: relative;
    .template-feature-columns-bg {
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: url('img/dots-bg.png');
      background-size: 100%;
    }
		&:before {
      content: '';
      height: 605px;
      width: 100%;
      left: 0;
      bottom: 0;
      position: absolute;
      background-color: white;
    }
    &:after {
      content: '';
      background-color: #F0F1F2;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      z-index: -1;
    }

    .content-body  {
      margin-top: 110px;
    }
	}
}

.feature-columns {
  margin-left: -13px;
  margin-right: -13px;
  display: flex;
  justify-content: center;
  .column {
    padding: 0 13px;
    margin-left: 0!important;
    width: 426px!important;
  }
}

.feature-columns__header {
  background-color: colour(red);
  display: flex;
  padding: 27px 20px;
  align-items: center;
  color: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  h4 {
    padding: 0 20px 0;
    font-size: 22px;
    font-weight: 700;
  }
}

.feature-columns__list {

}

.feature-columns__list-item {
  color: #333F48;
  background-color: #F0F1F2;
  border: 1px solid #D0D0D0;
  border-top: 0;
  padding: 0 40px;
  min-height: 150px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 22px;
  border-left: 10px solid #333F48;
  position: relative;

  &:before {
    content: '';
    width: 14px;
    height: 14px;
    position: absolute;
    left: -7px;
    top: 50%;
    transform: translateY(-7px) rotate(45deg);
    background-color: #333F48;
  }

  span {
    display: block;
    
  }
}

.feature-columns__header__icon {
  width: 75px;
  height: 75px;
  background-image: url('img/graph-icon.png');
  background-size: 75px 75px;
}



// overlay


.features-columns-overlay-descriptions-image {
  width: 575px;
  height: 320px;
  background-image: url('img/laptop.png');
  background-size: 100%;
  margin: 0 auto;
}


.features-columns-overlay-content {
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  border-left: 20px solid colour(red);
  max-width: 1256px;

  &--align-center {
    margin: 0 auto;
  }

  &--align-right {
    float: right;
  }

  &:after {
    content: '';
    width: 28px;
    height: 28px;
    position: absolute;
    left: -14px;
    top: 50%;
    transform: translateY(-14px) rotate(45deg);
    background-color: colour(red);
  }

  &:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.3;
    top: 0;
    left: 0;
    z-index: -1;

  }
}

.features-columns-overlay-category-title {
  font-size: 35px;
  margin-bottom: 28px;
}

.features-columns-overlay-descriptions-content {
  padding: 60px 60px 60px 0;
  font-size: 25px;
}

.features-columns-overlay-category-text {
  margin-bottom: 28px;
}

.features-columns-overlay-descriptions-image-container {
  width: 691px;
}

.features-columns-overlay-descriptions-container {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 3;

  span.close {
    position: absolute;
    display: block;
    @include svg-background-div(21px, 21px, 21px, 'img/close.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    top: 25px;
    right: 25px;
    background-color: #828D99;
    border-radius: 30px;
  }

  .cta {
    background-color: colour(red);
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    border-radius: 3px;
  }
}