{% macro listing_results(position) %}
	<div class="subsection-line" style="bottom: {{position}}%;">
		<?xml version="1.0" encoding="UTF-8"?>
		<svg width="502px" height="312px" viewBox="0 0 502 312" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		    <!-- Generator: Sketch 52.6 (67491) - http://www.bohemiancoding.com/sketch -->
		    <title>Path 7 Copy</title>
		    <desc>Created with Sketch.</desc>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		        <g id="Property-Management---Premiere-Listing---01" transform="translate(-695.000000, -258.000000)" stroke="#00A4C7" stroke-width="2">
		            <polyline id="Path-7-Copy" transform="translate(945.933594, 413.597656) scale(1, -1) translate(-945.933594, -413.597656) " points="1196.86719 568.195313 806.367187 568.195313 806.367188 259 695 259"></polyline>
		        </g>
		    </g>
		</svg>
	</div>
{% endmacro %}

{% macro more_enquiries(position) %}
	<div class="subsection-line" style="bottom: {{position}}%;">
		<?xml version="1.0" encoding="UTF-8"?>
		<svg width="597px" height="170px" viewBox="0 0 597 170" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
					<title>Path 7</title>
					<desc>Created with Sketch.</desc>
					<defs></defs>
					<g id="Designs---Set-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g id="Property-Management---Premiere-Listing---03---enquiries" transform="translate(-635.000000, -538.000000)" stroke="#00A4C7" stroke-width="2">
													<polyline id="Path-7" points="1232 707 747 707 747 539 635.632812 539"></polyline>
									</g>
					</g>
		</svg>
	</div>
{% endmacro %}

{% macro increased_brand(position) %}
	<div class="subsection-line" style="bottom: {{position}}%;">
		<?xml version="1.0" encoding="UTF-8"?>
		<svg width="496px" height="241px" viewBox="0 0 496 241" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
					<title>Path 7</title>
					<desc>Created with Sketch.</desc>
					<defs></defs>
					<g id="Designs---Set-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g id="Property-Management---Premiere-Listing---02---exposure" transform="translate(-636.000000, -257.000000)" stroke="#00A4C7" stroke-width="2">
													<polyline id="Path-7" transform="translate(883.841797, 377.410156) scale(1, -1) translate(-883.841797, -377.410156) " points="1131.68359 496.195313 747.367188 496.195313 747.367188 258.625 636 258.625"></polyline>
									</g>
					</g>
		</svg>
	</div>
{% endmacro %}

