@font-face {
  font-family: "REAPangea-Light";
  font-style: normal;
  font-weight: normal;
  src:url("fonts/rea-pangea/REAPangea-LightWeb.woff") format("woff");
  src:url("fonts/rea-pangea/REAPangea-LightWeb.woff2") format("woff2");
}

@font-face {
  font-family: "REAPangea-Regular";
  font-style: normal;
  font-weight: normal;
  src:url("fonts/rea-pangea/REAPangea-RegularWeb.woff") format("woff");
  src:url("fonts/rea-pangea/REAPangea-RegularWeb.woff2") format("woff2");
}

@font-face {
  font-family: "REAPangea-Medium";
  font-style: normal;
  font-weight: normal;
  src:url("fonts/rea-pangea/REAPangea-MediumWeb.woff") format("woff");
  src:url("fonts/rea-pangea/REAPangea-MediumWeb.woff2") format("woff2");
}

@font-face {
  font-family: "REAPangea-SemiBold";
  font-style: normal;
  font-weight: normal;
  src:url("fonts/rea-pangea/REAPangea-SemiBoldWeb.woff") format("woff");
  src:url("fonts/rea-pangea/REAPangea-SemiBoldWeb.woff2") format("woff2");
}

@font-face {
  font-family: "REAPangea-Bold";
  font-style: normal;
  font-weight: normal;
  src:url("fonts/rea-pangea/REAPangea-BoldWeb.woff") format("woff");
  src:url("fonts/rea-pangea/REAPangea-BoldWeb.woff2") format("woff2");
}

@font-face {
  font-family: "REAPangeaText-Light";
  font-style: normal;
  font-weight: normal;
  src:url("fonts/rea-pangea/REAPangeaText-LightWeb.woff") format("woff");
  src:url("fonts/rea-pangea/REAPangeaText-LightWeb.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "REAPangeaText";
  font-style: normal;
  font-weight: normal;
  src:url("fonts/rea-pangea/REAPangeaText-RegularWeb.woff") format("woff");
  src:url("fonts/rea-pangea/REAPangeaText-RegularWeb.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "REAPangeaText-Regular";
  font-style: normal;
  font-weight: normal;
  src:url("fonts/rea-pangea/REAPangeaText-RegularWeb.woff") format("woff");
  src:url("fonts/rea-pangea/REAPangeaText-RegularWeb.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "REAPangeaText-Medium";
  font-style: normal;
  font-weight: normal;
  src:url("fonts/rea-pangea/REAPangeaText-MediumWeb.woff") format("woff");
  src:url("fonts/rea-pangea/REAPangeaText-MediumWeb.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "REAPangeaText-SemiBold";
  font-style: normal;
  font-weight: normal;
  src:url("fonts/rea-pangea/REAPangeaText-SemiBoldWeb.woff") format("woff");
  src:url("fonts/rea-pangea/REAPangeaText-SemiBoldWeb.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "REAPangeaText-Bold";
  font-style: normal;
  font-weight: normal;
  src:url("fonts/rea-pangea/REAPangeaText-BoldWeb.woff") format("woff");
  src:url("fonts/rea-pangea/REAPangeaText-BoldWeb.woff2") format("woff2");
  font-weight: 900;
}