<article id="premiere_performance_highlight">
	{% import "./njk/_partials/header-border-breadcrumb.njk" as header %}

	{{ header.render({
		title: 'With all the benefits of Highlight, and so much more',
		color: 'purple',
		contentClasses: 'o-transition__children o-transition__children--fade-up',
		cweKey: 'premiere_performance_highlight',
		breadcrumb: {
			text: 'Property Advertising',
			icon: 'property-ads',
			classes: 'breadcrumb--purple'
		}
	}) }}

	<section class="page01 content">
		<div class="content__body">
			<div class="column-group o-transition__children o-transition__children--fade-up o-transition__delay--250">
				<div class="column column--span-6">
					<div class="l-grid__col">
						<div class="l-grid__row l-grid--gutter-30">
							<div class="card card--premiere">
								<div class="card__content"
									 data-companywide-editable="premiere_performance_highlight_editable_hdn9bu"
									 data-toolbar="format color style superscript removeformat">
									<h3>
										<span style="color: white"><strong>100% more</strong></span>
									</h3>
									<p><strong>email enquiries</strong>, compared to a<br/>Highlight listing
										alone<sup>1</sup></p>
								</div>
							</div>
						</div>
						<div class="l-grid__row">
							<div class="card card--premiere">
								<div class="card__content"
									 data-companywide-editable="premiere_performance_highlight_editable_yAWOQg"
									 data-toolbar="format color style superscript removeformat">
									<h3>
										<strong>101% more</strong>
									</h3>
									<p>
										<strong>property page views</strong>, compared<br/>to a Highlight listing
										alone<sup>1</sup>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="column column--span-4">
					<div class="card card__bump">
						<div class="card__content"
							 data-companywide-editable="premiere_performance_highlight_editable_4M8ISE"
							 data-toolbar="format color style superscript removeformat">
							<p>Premiere+ listings that utilise<br/>Listing Bump see</p>
							<h3>
								<strong>105% more</strong>
							</h3>
							<p>
								<strong>property page views</strong> than those that don’t,<br/> in the 7 days following
								Bump usage<sup>2</sup>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="slide-footer">
		<section class="disclaimer">
			<div class="disclaimer-container">
				<p class="disclaimer-link">Source</p>
				<div class="disclaimer-body"
					 data-companywide-editable="premiere_performance_highlight_editable_editable_spBgdl">
					<p class="disclaimer-copy">
						1. REA internal data, 1 January 2023 – 31 December 2023. Comparison is between a Premiere
						Unlimited listing when purchased as part of a Premiere+ bundle, <br/> and a stand-alone Highlight
						listing. Premiere+ performance is based on a number of factors including (but not limited to)
						product features such as Listing <br/> Bump and eBrochure, in addition to the unlimited Premiere
						listing included as part of the Premiere+ bundle.<br/>
						2.REA internal data, 1 January 2023 – 31 December 2023. Calculated on listings that used a
						Listing Bump within the first 60 days of listing.
					</p>
				</div>
			</div>
		</section>
		<div class="disclaimer-target"></div>
		<div class="rea-logo"/>
	</footer>
</article>

<script type="text/javascript">
	{% include './sections/fy25_presobot/slides/premiere_plus_claims/slide.js' %}
</script>
