.table {
    th {
        &:first-child {
            width: 256px;
        }
        width: 112px;
        text-align: left;
        font-size: 18px;
        height: 38px;
    }
    td {
        height: 38px;
        font-size: 15px;
    }
    width: 784px;
}
.table__title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 26px;
}

/*.table td:first-child {
    width: 256px;
}*/

.table {
    td {
        &:first-child {
            width: 256px;
        }
        width: 112px;
        text-align: left;
        font-size: 18px;
        height: 38px;
    }
    td {
        height: 38px;
        font-size: 15px;
    }
    width: 784px;
}

.table-controls {
	width: 1560px;
	margin: 0 auto;
	border-top: solid 1px colour(Alto-light);
	padding-top: 15px;
	text-align: center;
}

.table-control {
	cursor: pointer;
	display: inline-block;
	&--prev {
		@include svg-background-div(30px, 30px, 30px, 'img/arrow_button_up.svg');
		margin-right: 30px;
	}
	&--next {
		@include svg-background-div(30px, 30px, 30px, 'img/arrow_button_down.svg');
	}
}

.table-css3 {
    display:table;
    width:100%;
    height:100%; 
    .table-cell {
        width:100%;
        height:100%;
        display:table-cell;
        vertical-align:top;
        text-align:center;
    }
}

