#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;

  h5 {
    color: #fff;
    text-align: center;
    font-weight: 300;
  }
}

.slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 300px;
  list-style: none;
}

.slider li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: colour(l-grey);
  text-align: center;
  line-height: 300px;
}

.slider--large {
  & .slider {
	& li {
	  width: 682px;
	  height: 441px;
	  line-height: 441px;
	}

	& ul {
	  height: 441px;
	}
  }

  & div.slider_control--prev, div.slider_control--next {
	top: 38%;
  }
}

div.slider_control--prev, div.slider_control--next {
  position: absolute;
  top: 35%;
  z-index: 45;
  @include transform(translateZ(450px));
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: transparent;
  color: colour(white);
  text-decoration: none;
  font-weight: 100;
  font-size: 40px;
  opacity: 1;
  cursor: pointer;
  transform:scaleY(2)
}

div.slider_control--prev:hover, div.slider_control--next:hover {
}

div.slider_control--prev {
  border-radius: 0 2px 2px 0;
}

div.slider_control--next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

.slider_heading {
  padding-top: 30px;
  font-size: 22px;
  color: colour(pebble);
  text-align: center;
}
