{% set options = {
	id: "fy25_presobot",
	subslides: false,
	article_classes: "new-title-slide",
	content_classes: ""

} %}

{% extends "./njk/base-section-title.njk" %}

{% import "./njk/_partials/section-new-title.njk" as section_title %}

{% block content %}
	<div class="s-intro-slide">
		<div class="s-house-slide__container">
		<div class="s-house-slide__content o-transition__children o-transition__children--fade-up">
			<h1 class="section-content__title" data-companywide-editable="fy25_presobot_cover_title_editable-asuwqkas">realestate.com.au gets <br> you the best return on <br> your investment</h1>
		</div>
		</div>
	</div>
{% endblock %}
